:global(.vtex-modal__modal) {
  border-radius: 0;
}
.countrySelectorButton {
  background-color: transparent;
}
.countrySelectorModal {
  background-color: red;
}
.countrySelectorCountainer {
  padding: 70px;
}
.countrySelectorTitle,
.countrySelectorSubTitle {
  display: flex;
  justify-content: center;
}

.countrySelectorTitle {
  font-size: 25px;
}

.countrySelectorSubTitle {
  border-top: 1px solid #d8d8d8;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-top: 10px;
  margin-left: 70px;
  margin-right: 70px;
}
.countrySelectorOptionsBox {
  flex-wrap: wrap;
  display: flex;
}
.countrySelectorOptionItem {
  flex: 1 0 21%;
  justify-content: center;
  display: flex;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  max-width: 166px;
  transition: background-color 0.5s ease;
}
.countrySelectorOptionItem:hover {
  background: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.countrySelectorButton {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.countrySelectorButtonTitle {
  margin-right: 10px;
}
